@keyframes slideTo {
	from {
		width: 100%;
	}
	50% {
		width: 60%;
	}
	to {
		width: 100%;
	}
}
@keyframes slideFrom {
	from {
		width: 60%;
	}
	50% {
		width: 100%;
	}
	to {
		width: 60%;
	}
}

@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}
@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}
/* html,
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
  } */
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
	transition-timing-function: ease;
	padding: 26px 65px;
	background: var(--clr-black-5);
	border-radius: 73px;
	font-size: 1.375rem;
	line-height: 1.4;
	white-space: nowrap;
	flex-shrink: 0;
	color: var(--clr-black);
	&:hover {
		background: var(--clr-black);
		color: var(--clr-white);
	}
	&:not(.btn_white) {
		svg {
			path {
				transition-duration: 0.3s;
			}
		}
	}
	&:disabled {
		border: 1px solid var(--clr-black-10);
		background: rgba(0, 0, 0, 0);
		color: var(--clr-gray);
		pointer-events: none;
		svg {
			path {
				fill: var(--clr-gray);
			}
		}
	}
	svg {
		transition: all 0.2s;
		path {
			transition: all 0.2s;
		}
	}
}
.search_link {
	cursor: pointer;
}
.btn.btn_blur {
	backdrop-filter: var(--bg-filter-blur);
}
.btn[disabled] {
	pointer-events: none;
	background: transparent;
	border: 1px solid var(--clr-black-10);
	color: var(--clr-black-10);
}
.btn_slider[disabled] {
	svg {
		path {
			fill: var(--clr-black-10);
		}
	}
}
svg {
	.btn {
		* {
			transition: all 0.2s;
		}
		&:hover {
			rect {
				fill: var(--clr-black) !important;
			}
		}
		path {
			transition-duration: 0.2s;
		}
	}
}
.btn_dark {
	background: var(--clr-black);
	color: var(--clr-white);
	&:hover {
		background: var(--clr-black-40);
	}
}
.btn_light {
	background: var(--clr-white-20);
	color: var(--clr-white);
	backdrop-filter: var(--bg-filter-blur);
	&:hover {
		color: var(--clr-black);
		background: var(--clr-white);
	}
}

.btn_sm {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 0 !important;

    & svg {
        width: 24px;
        height: auto;

        & path {
            fill: none !important;
        }
    }
}
.btn_white {
	background: var(--clr-white) !important;
	color: var(--clr-black) !important;
	&:hover {
		color: var(--clr-white) !important;
		background: var(--clr-black) !important;
	}
}
.btn_color {
	background: var(--clr-tag-opera);
	color: var(--clr-white);
	&:hover {
		background: var(--clr-black);
		color: var(--clr-white);
	}
}
.stream_btn {
	font-size: 0.875rem !important;
	padding: 2px 12px 3px !important;
	border: 1px solid var(--clr-black);
	background: none !important;
	span {
		display: flex;
		align-items: center;
		gap: 5px;
		&::before {
			content: "";
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: var(--clr-error);
		}
	}
}
.btn.stream_btn {
	&:hover {
		color: var(--clr-black);
		background: var(--clr-black-5) !important;
		border-color: var(--clr-black-5);
	}
}
.head_light {
	.stream_btn {
		font-size: 0.875rem !important;
		padding: 2px 12px 3px !important;
		border: 1px solid var(--clr-white);
		background: none !important;
		color: var(--clr-white);
	}
	.btn.stream_btn {
		&:hover {
			color: var(--clr-white);
			background: var(--clr-white-10) !important;
			border-color: var(--clr-white-10);
		}
	}
	label.label_search {
		input[type=text] {
			&::placeholder {
				color: var(--clr-white-40);
			}
		}
	}
}
.swiper_prev.disabled {
	opacity: 0.5;
	pointer-events: none;
}
.swiper_next.disabled {
	opacity: 0.5;
	pointer-events: none;
}
.btn_social {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: var(--clr-black-5);
	-webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur);
	padding: 0 !important;
	&:hover {
		background: var(--clr-black);
		svg {
			path {
				fill: var(--clr-white);
			}
		}
	}
}
.btn_play {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: var(--clr-white-10);
	-webkit-backdrop-filter: blur(74.75px);
	backdrop-filter: blur(74.75px);
	flex-shrink: 0;
	padding: 0 !important;
	justify-content: center;
	&:hover {
		background: var(--clr-black);
		svg {
			path {
				fill: var(--clr-white);
			}
		}
	}
	span {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.btn_filter {
	background: none;
	padding: 0;
	width: 85px;
	height: 85px;
	border: 1px solid var(--clr-black);
	position: relative;
	color: var(--clr-black);
	&:hover {
		background: var(--clr-black-5);
		-webkit-backdrop-filter: var(--bg-filter-blur);
		backdrop-filter: var(--bg-filter-blur);
		color: var(--clr-black);
		border-color: var(--clr-black-5);
		border-color: transparent;
	}
	svg {
		width: 24px;
		height: 24px;
	}
}
.btn_heart {
	background: none;
	padding: 0;
	width: 85px;
	height: 85px;
	border: 1px solid var(--clr-black);
	position: relative;
	color: var(--clr-black);
	&:hover {
		background: var(--clr-black-5);
		-webkit-backdrop-filter: var(--bg-filter-blur);
		backdrop-filter: var(--bg-filter-blur);
		color: var(--clr-black);
		border-color: var(--clr-black-5);
		border-color: transparent;
	}
}
.btn_favourite {
	background: none;
	padding: 0 !important;
	width: 64px;
	height: 64px;
	border: 1px solid var(--clr-black-10);
	position: relative;
	color: var(--clr-black);
	&:hover {
		background: rgba(255, 126, 128, 0.3);
		-webkit-backdrop-filter: var(--bg-filter-blur);
		backdrop-filter: var(--bg-filter-blur);
		color: var(--clr-black);
		border-color: rgba(255, 126, 128, 0.3);
		svg {
			path {
				fill: var(--clr-error);
				stroke: var(--clr-error);
			}
		}
	}
}
.btn_favourite-lg {
	width: 84px;
	height: 84px;
}
.btn_favourite.active {
	background: rgba(255, 126, 128, 0.3);
	-webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur);
	color: var(--clr-black);
	border-color: rgba(255, 126, 128, 0.3);
	svg {
		path {
			fill: var(--clr-error);
			stroke: var(--clr-error);
		}
	}
}
.btn_filter.active {
	background: var(--clr-black-5);
	border-color: transparent;
	backdrop-filter: var(--bg-filter-blur);
}
.btn_heart.active {
	background: var(--clr-black-5);
	border-color: transparent;
	backdrop-filter: var(--bg-filter-blur);
}
.btn_filter.isDateChecked {
	background: var(--clr-black-5);
	border-color: transparent;
	backdrop-filter: var(--bg-filter-blur);
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		background: var(--clr-black);
		border-radius: 50%;
		top: 0;
		right: 0;
	}
}
.btn_filter_icon {
	padding: 27px 44px;
	width: auto;
	height: auto;
	gap: 20px;
}
.btn_with-icon {
	gap: 10px;
	padding: 20px 24px 20px 32px;
	border: var(--border);
	svg {
		width: 19px;
		flex-shrink: 0;
	}
	&:hover {
		border-color: var(--clr-black);
	}
}
.btn_trans {
	gap: 10px;
	padding: 20px 24px 20px 32px;
	background: transparent;
	border: 1px solid var(--clr-light-gray);
	svg {
		width: 22px;
		flex-shrink: 0;
		path {
			fill: var(--clr-black) !important;
		}
	}
	&:hover {
		background: transparent;
		border-color: var(--clr-black-5);
		background: var(--clr-black-5);
		color: var(--clr-black);
	}
}
.btn_slim {
	padding: 18px 48px;
	border-radius: 40px;
}
.btn_slider {
	padding: 0 !important;
	border-radius: 50%;
	width: 84px;
	height: 84px;
	user-select: none;
	svg {
		user-select: none;
	}
	.lines {
		position: relative;
		display: block;
		.line {
			display: block;
			width: 24px;
			height: 1px;
			background: var(--clr-black);
			transition: all 0.5s;
			&:last-child {
				transform: rotate(90deg);
			}
		}
	}
	&:hover {
		.line {
			background: var(--clr-white);
		}
	}
}
.btn_slider_tab {
	background: none;
	&:hover {
		background: var(--clr-black-5);
	}
}
.btn_menu {
	position: relative;
	padding: 0px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	.lines {
		display: flex;
		flex-direction: column;
		width: 24px;
		height: 16px;
		align-items: flex-end;
		justify-content: space-between;
		position: relative;
	}
	.line {
		display: block;
		position: absolute;
		height: 1px;
		background: var(--clr-black);
		transition: all 0.5s;
	}
	.line-1 {
		width: 100%;
		top: 0;
	}
	.line-2 {
		width: 60%;
		top: 50%;
	}
	.line-3 {
		width: 100%;
		bottom: 0;
	}
	&:hover {
		.line {
			background: var(--clr-white);
		}
		.line-1 {
			animation-name: slideTo;
			animation-duration: 0.9s;
			animation-timing-function: linear;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
		}
		.line-2 {
			animation-name: slideFrom;
			animation-duration: 0.9s;
			animation-timing-function: linear;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			animation-delay: 0.2s;
		}
		.line-3 {
			animation-name: slideTo;
			animation-duration: 0.9s;
			animation-timing-function: linear;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			animation-delay: 0.4s;
		}
	}
}
.btn_menu.active {
	.line-1 {
		width: 100%;
		transform: rotate(45deg);
		top: calc(50% - 1px);
		animation-name: none;
	}
	.line-2 {
		opacity: 0;
	}
	.line-3 {
		width: 100%;
		transform: rotate(-45deg);
		bottom: calc(50% - 1px);
		animation-name: none;
	}
}
.btn_popup_close {
	&:not(.btn_white) {
		background: var(--clr-white-10);
		&:hover {
			background: var(--clr-white);
		}
	}
}
.btn_outline {
	padding: 20px 32px;
	border: var(--border);
	border-radius: 40px;
	-webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur);
	&:hover {
		color: var(--clr-black);
		background: var(--clr-black-5);
		border-color: var(--clr-black-5);
	}
}
.btn_tab {
	background: none;
	padding: 26px 48px;
	color: var(--clr-white);
	&:hover {
		background: var(--clr-white);
		color: var(--clr-black);
	}
}
.btn_tab.active {
	color: var(--clr-black);
	background: var(--clr-white);
}
.link {
	color: var(--clr-black);
	display: flex;
	border-bottom: 1px solid var(--clr-black-10);
	transition: all var(--transition);
	&:hover {
		border-color: var(--clr-black);
	}
	&:disabled {
		color: var(--clr-black-40);
	}
}
.link.disabled {
	color: var(--clr-black-40);
}
.link_light {
	color: var(--clr-white-40);
	transition: all var(--transition);
	&:hover {
		color: var(--clr-white);
	}
}
.link_light.active {
	color: var(--clr-white);
	list-style-type: disc;
}
label {
	display: flex;
	gap: 10px;
	position: relative;
	&:hover {
		input[type=text] {
			border-bottom-color: var(--clr-black);
		}
		input[type=email] {
			border-bottom-color: var(--clr-black);
		}
		input[type=tel] {
			border-bottom-color: var(--clr-black);
		}
		textarea {
			border-bottom-color: var(--clr-black);
		}
		span.placeholder {
			color: var(--clr-black);
		}
		span.radio {
			border: 1px solid var(--clr-black);
		}
		span.checkbox {
			border-color: var(--clr-black);
		}
		.button {
			color: var(--clr-black);
			.btn {
				background: var(--clr-black);
				svg {
					path {
						fill: var(--clr-white);
					}
				}
			}
		}
	}
	input[type=radio] {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		span.radio {
			position: relative;
		}
		&:checked+span.radio {
			background: var(--clr-black);
			border: 4px solid var(--clr-black);
			border-radius: 50%;
			svg {
				visibility: visible;
				opacity: 1;
			}
			&::before {
				opacity: 1;
			}
		}
	}
	input[type=file] {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
	.button {
		display: flex;
		align-items: center;
		gap: 22px;
		font-size: 1.375rem;
		line-height: 1.4;
		color: var(--clr-black-40);
		transition: all 0.5s;
		cursor: pointer;
	}
	input[type=checkbox] {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		&:checked+span.checkbox {
			background: var(--clr-black);
			border-color: var(--clr-black);
			svg {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	span.checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border-radius: var(--radius-sm);
		border: 1px solid var(--clr-black-5);
		background: var(--clr-black-5);
		transition: all 0.2s;
		flex-shrink: 0;
		svg {
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s;
		}
	}
	span.error {
		font-size: 0.75rem;
		position: absolute;
		top: 100%;
		font-size: 0.875rem;
		color: rgba(239, 60, 13, 0.5);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
	}
	input[type=text] {
		width: 100%;
		display: block;
		padding: 8px 0 22px;
		border-bottom: 1px solid var(--clr-gray);
		font-size: 1.375rem;
		line-height: 1.4;
		font-family: var(--font-accent);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			display: block;
		}
		&::-moz-placeholder {
			color: var(--clr-black-40);
			visibility: hidden;
			opacity: 0;
			font-size: 1.375rem;
		}
		&::placeholder {
			color: var(--clr-black-40);
			opacity: 0;
			font-size: 1.375rem;
		}
		&:focus {
			&::-moz-placeholder {
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				visibility: h;
			}
			&::placeholder {
				transition: all 0.5s;
				visibility: visible;
			}
		}
	}
	input[type=email] {
		width: 100%;
		display: block;
		padding: 8px 0 22px;
		border-bottom: 1px solid var(--clr-gray);
		font-size: 1.375rem;
		line-height: 1.4;
		font-family: var(--font-accent);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			display: block;
		}
		&::-moz-placeholder {
			color: var(--clr-black-40);
			visibility: hidden;
			opacity: 0;
			font-size: 1.375rem;
		}
		&::placeholder {
			color: var(--clr-black-40);
			opacity: 0;
			font-size: 1.375rem;
		}
		&:focus {
			&::-moz-placeholder {
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				visibility: h;
			}
			&::placeholder {
				transition: all 0.5s;
				visibility: visible;
			}
		}
	}
	input[type=tel] {
		width: 100%;
		display: block;
		padding: 8px 0 22px;
		border-bottom: 1px solid var(--clr-gray);
		font-size: 1.375rem;
		line-height: 1.4;
		font-family: var(--font-accent);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			display: block;
		}
		&::-moz-placeholder {
			color: var(--clr-black-40);
			visibility: hidden;
			opacity: 0;
			font-size: 1.375rem;
		}
		&::placeholder {
			color: var(--clr-black-40);
			opacity: 0;
			font-size: 1.375rem;
		}
		&:focus {
			&::-moz-placeholder {
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				visibility: h;
			}
			&::placeholder {
				transition: all 0.5s;
				visibility: visible;
			}
		}
	}
	textarea {
		width: 100%;
		display: block;
		padding: 8px 0 22px;
		border-bottom: 1px solid var(--clr-gray);
		font-size: 1.375rem;
		line-height: 1.4;
		font-family: var(--font-accent);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			display: block;
		}
		&::-moz-placeholder {
			color: var(--clr-black-40);
			visibility: hidden;
			opacity: 0;
			font-size: 1.375rem;
		}
		&::placeholder {
			color: var(--clr-black-40);
			opacity: 0;
			font-size: 1.375rem;
		}
		&:focus {
			&::-moz-placeholder {
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				visibility: h;
			}
			&::placeholder {
				transition: all 0.5s;
				visibility: visible;
			}
		}
	}
	input[type=text].error {
		color: var(--clr-error);
		border-color: rgba(239, 60, 13, 0.5);
	}
	input[type=email].error {
		color: var(--clr-error);
		border-color: rgba(239, 60, 13, 0.5);
	}
	input[type=tel].error {
		color: var(--clr-error);
		border-color: rgba(239, 60, 13, 0.5);
	}
	span.placeholder {
		position: absolute;
		color: var(--clr-gray);
		transition: all 0.3s;
		font-size: 1.375rem;
		line-height: 1.4;
		transition: all 0.5s;
		bottom: 22px;
		top: auto;
		pointer-events: none;
	}
	span.placeholder.active {
		font-size: 1.125rem;
		top: 0;
		bottom: auto;
	}
	textarea+span.placeholder {
		top: 30px;
		bottom: auto;
	}
	textarea+span.placeholder.active {
		top: 0px;
		bottom: auto;
	}
	input {
		&:not(:placeholder-shown)+span.placeholder {
			font-size: 1.125rem;
			top: 0;
			bottom: auto;
		}
	}
	span.error.show {
		opacity: 1;
		visibility: visible;
	}
	span.radio {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 1px solid var(--clr-black-5);
		background: var(--clr-black-5);
		transition: all 0.2s;
		flex-shrink: 0;
		svg {
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: var(--clr-white);
			opacity: 0;
		}
	}
}
input {
	color: var(--clr-black);
}
textarea {
	color: var(--clr-black);
}
label.label_check {
	cursor: pointer;
	flex-direction: row;
	align-items: center;
}
label.label_search {
	flex-direction: row;
	align-items: baseline;
	gap: 16px;
	padding-right: 12px;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background: var(--clr-gray);
		display: block;
	}
	input[type=text] {
		width: 100%;
		display: block;
		padding: 0px 0 19px;
		font-size: 1.375rem;
		line-height: 1.4;
		font-family: var(--font-accent);
		position: relative;
		border: none;
		color: var(--clr-black);
		&::-webkit-search-cancel-button {
			display: none;
		}
		&::-moz-placeholder {
			color: var(--clr-black-40);
			opacity: 1;
			font-size: 1.375rem;
		}
		&::placeholder {
			color: var(--clr-black-40);
			opacity: 1;
			font-size: 1.375rem;
		}
		&:focus {
			&::-moz-placeholder {
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				visibility: visible;
				opacity: 1;
			}
			&::placeholder {
				transition: all 0.5s;
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.icon {
		width: 2rem;
		height: 2rem;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	input[type=text].error {
		color: var(--clr-error);
		border-color: rgba(239, 60, 13, 0.5);
	}
	.download-link {
		font-size: 1.375rem;
		color: var(--clr-black-40);
		&:hover {
			.text {
				color: var(--clr-black) !important;
			}
		}
		svg {
			path {
				fill: var(--clr-black) !important;
			}
		}
	}
}
label.disabled {
	color: var(--clr-gray);
}
.feedback__form_field {
	span.error {
		position: absolute;
		top: 100%;
		font-size: 0.875rem;
		color: rgba(239, 60, 13, 0.5);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
	}
}
label.label_text {
	&:hover {
		color: var(--clr-black);
		input {
			border-color: var(--clr-black);
			&::-moz-placeholder {
				color: transparent;
			}
			&::placeholder {
				color: transparent;
			}
			&:focus {
				&::-moz-placeholder {
					color: var(--clr-gray);
				}
				&::placeholder {
					color: var(--clr-gray);
				}
			}
		}
	}
}
#smartFilterDropDown2 {
	display: none !important;
}
label.label_radio {
	cursor: pointer;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	position: relative;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	flex-grow: 1;
}
.copy_buffer {
	position: relative;
	.hint {
		display: block;
		font-size: 0.875rem;
		background: var(--clr-white);
		border: 1px solid var(--clr-black-40);
		border-radius: 1rem;
		padding: .5rem 0.875rem;
		bottom: 90%;
		position: absolute;
		color: var(--clr-black) !important;
		visibility: hidden;
		opacity: 0;
		transition: all .5s;
	}
	.hint.show {
		visibility: visible;
		opacity: 1;
	}
	&:hover {
		.hint {
			color: var(--clr-black);
		}
	}
}
.section {
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}
.section_pt_sm {
	padding-top: 2rem !important;
}
.section_pt_md {
	padding-top: 3.5rem !important;
}
.section_pt_l {
	padding-top: 4.5rem !important;
}
.section_pt_xl {
	padding-top: 10rem !important;
}
.section_pb_l {
	padding-bottom: 10rem !important;
}
.section_pb_md {
	padding-bottom: 7.5rem !important;
}
.section_pb_sm {
	padding-bottom: 4rem !important;
}
.section_pb_xs {
	padding-bottom: 1.625rem !important;
}
.section_pt_0 {
	padding-top: 0 !important;
}
.section_pb_0 {
	padding-bottom: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: 1em !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mb-2 {
	margin-bottom: 2.75rem !important;
}
.mt-2 {
	margin-top: 2.75rem !important;
}
.mt-3 {
	margin-top: 5.75rem !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.row {
	display: flex;
	margin-left: -1rem;
	margin-right: -1rem;
}
.col {
	width: 4.1666666667%;
	padding-left: 1rem;
	padding-right: 1rem;
}
.col-2 {
	width: 16.6666666667%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333333333%;
}
.col-5 {
	width: 41.6666666667%;
}
.col-6 {
	width: 50%;
}
.d-flex {
	display: flex;
}
.d-none {
	display: none !important;
}
.align-start {
	align-items: flex-start;
}
.align-center {
	align-items: center;
}
.align-end {
	align-items: flex-end;
}
.flex-column {
	flex-direction: column;
}
.justify-center {
	justify-content: center !important;
}
.justify-between {
	justify-content: space-between !important;
}
.partners__slide_desc {
	color: var(--clr-black-40);
	line-height: 1.6;
}
.opera {
	color: var(--clr-tag-opera);
	&:hover {
		color: var(--clr-tag-opera-opacity);
	}
}
.lecture {
	color: var(--clr-tag-lectures);
	&:hover {
		color: var(--clr-tag-lectures-opacity);
	}
}
.nav-link {
	font-size: 1.375rem;
	transition: all 0.3s;
	font-family: var(--font-accent);
	line-height: 1.4;
	white-space: nowrap;
	transition: all 0.3s;
	transition-delay: 0s;
	&:hover {
		color: var(--clr-black-40);
		.icon {
			svg {
				path {
					fill: var(--clr-black-40);
				}
			}
		}
	}
	.icon {
		svg {
			transition: all 0.3s;
			path {
				transition: all 0.3s;
			}
		}
	}
}
.menu-link {
	line-height: 0.5;
	transition: all 0.5s;
	&:hover {
		color: var(--clr-black-40);
	}
}
.download-link {
	display: flex;
	align-items: center;
	gap: 24px;
	.text {
		display: flex;
		flex-direction: column;
		transition: all 0.3s;
	}
	.icon {
		transition: all 0.3s;
	}
	&:hover {
		.btn {
			background: var(--clr-black);
			color: var(--clr-white);
		}
		.icon {
			opacity: 0.4;
		}
		.text {
			color: var(--clr-black-40);
		}
	}
}
.info {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.4;
	color: var(--clr-info);
	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: var(--clr-info);
		margin: 0;
	}
}
.error {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.4;
	color: var(--clr-error);
	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: var(--clr-error);
	}
}
.dropdown {
	z-index: 2;
	width: 100%;
	border-radius: 50px;
	cursor: pointer;
	.dropdown__value {
		svg {
			transition: all 0.5s;
			path {
				fill: var(--clr-black);
			}
		}
	}
}
select {
	z-index: 2;
	width: 100%;
	border-radius: 50px;
	padding: 20px;
	background: var(--clr-black-5);
	-webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur);
	cursor: pointer;
}
.dropdown__value {
	width: 100%;
	display: flex;
	-webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur);
	overflow: hidden;
	border-radius: 50px;
	.value {
		width: 100%;
	}
}
.filter__form {
	.dropdown__value {
		.value {
			width: auto;
		}
	}
}
.dropdown__list {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-50%);
	transition: all 0.5s;
	left: 50%;
	top: calc(100% + 10px);
	border-radius: 24px;
	padding: 20px 8px;
	background: var(--clr-white);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}
.dropdown__items {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	height: 100%;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 4px;
		background: var(--clr-white);
		border-radius: 4px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: var(--clr-black);
	}
}
.suggest__list {
	border-radius: 24px;
	padding: 24px 32px;
	background: var(--clr-white);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	.suggest__list_title {
		margin-bottom: 16px;
		padding: 0 4px;
	}
	.suggest_result {
		margin-top: 16px;
		padding: 16px 48px;
	}
}
div.search-popup-row {
	color: var(--clr-black);
	background: var(--clr-bg) !important;
	&:hover {
		color: var(--clr-black-40);
	}
}
.dropdown.active {
	position: relative;
	z-index: 5;
	.dropdown__value {
		svg {
			transform: rotateX(180deg);
		}
	}
	.dropdown__list {
		visibility: visible;
		opacity: 1;
	}
	.dropdown-slider__tabs {
		visibility: visible;
		opacity: 1;
		transform: translateX(-50%) translateY(0px);
		max-height: 220px;
		overflow: auto;
		z-index: 10;
	}
}
.halls {
	.dropdown {
		.dropdown__value {
			svg {
				path {
					fill: #ffffff;
				}
			}
		}
	}
}
.dropdown__item {
	line-height: 1.4;
	color: var(--clr-black-40);
	transition: all 0.5s;
	cursor: pointer;
	padding: 0 16px;
	&:hover {
		color: var(--clr-black);
	}
}
.dropdown__item.active {
	color: var(--clr-black);
}
.dropdown-slider__value {
	display: none;
}
.dropdown-slider__list {
	transform: translate(0);
	transition: all 0.5s;
}
.dropdown-slider__tabs {
	display: flex;
	width: 100%;
	position: static;
	border: 1px solid var(--clr-black);
	border-radius: 53px;
	-webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur);
}
.dropdown_dark {
	.dropdown-slider__tabs {
		background: var(--clr-white) !important;
	}
}
.dropdown-slider {
	.btn_tab {
		color: var(--clr-black);
		&:hover {
			background: var(--clr-black-5);
		}
		&:focus {
			background: var(--clr-black-5);
		}
	}
	.btn_tab.active {
		background: var(--clr-black-5);
	}
	.before {
		position: absolute;
		background: var(--clr-black-5);
		width: 30%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 73px;
		transition: left 0.5s;
	}
}
.dropdown-slider.dropdown_dark {
	.btn_tab.active {
		background: var(--clr-black) !important;
		color: var(--clr-white) !important;
	}
	.btn_tab {
		&:hover {
			background: var(--clr-black) !important;
		}
	}
	.before {
		background: var(--clr-black) !important;
	}
}
.dropdown-slider.active {
	.dropdown-slider__tabs {
		visibility: visible;
		opacity: 1;
		transform: translateX(-50%) translateY(0px);
		max-height: 220px;
		overflow: auto;
		z-index: 10;
	}
}
.max991 {
	display: none !important;
}
.max360 {
	display: none !important;
}
.max576 {
	display: none !important;
}
.min576 {
	display: flex !important;
}
.hidden {
	overflow: hidden;
}
.tag {
	display: flex;
	padding: 8px 16px;
	border-radius: 40px;
	font-size: 18px;
	line-height: 1.2;
	white-space: nowrap;
}
.tag_festival {
	border: 1px solid var(--clr-tag-festival);
	color: var(--clr-tag-festival);
	transition: all 0.5s;
	&:hover {
		background: var(--clr-tag-festival-opacity);
		color: var(--clr-tag-festival);
	}
}
.tag_lectures {
	border: 1px solid var(--clr-tag-lectures);
	color: var(--clr-tag-lectures);
	transition: all 0.5s;
	&:hover {
		background: var(--clr-tag-lectures-opacity);
		color: var(--clr-tag-lectures);
	}
}
.tag_children {
	border: 1px solid var(--clr-tag-children);
	color: var(--clr-tag-children);
	transition: all 0.5s;
	&:hover {
		background: var(--clr-tag-children-opacity);
		color: var(--clr-tag-children);
	}
}
.tag_theaters {
	border: 1px solid var(--clr-tag-theaters);
	color: var(--clr-tag-theaters);
	transition: all 0.5s;
	&:hover {
		background: var(--clr-tag-theaters-opacity);
		color: var(--clr-tag-theaters);
	}
}
.tag_opera {
	border: 1px solid var(--clr-tag-opera);
	color: var(--clr-tag-opera);
	transition: all 0.5s;
	&:hover {
		background: var(--clr-tag-opera-opacity);
		color: var(--clr-tag-opera);
	}
}
.tag_opera.active {
	background: var(--clr-tag-opera-opacity);
	color: var(--clr-tag-opera);
}
.tag_card {
	border: 1px solid var(--clr-black-40);
	color: var(--clr-black-40);
	transition: all 0.5s;
	&:hover {
		color: var(--clr-black);
		border-color: var(--clr-black);
	}
}
.title_link {
	border-bottom: none;
	transition: all .5s;
	&:hover {
		color: var(--clr-black-40);
	}
}
.time {
	font-size: 2rem;
	line-height: 1.4;
}
.swiper-nav {
	display: flex;
	align-items: center;
	gap: 12px;
}
.place {
	width: 12px;
	height: 12px;
	display: flex;
	border: 1px solid;
	border-radius: 50%;
	background: var(--clr-white);
	position: relative;
	align-items: center;
	justify-content: center;
	&::after {
		content: "";
		width: 8px;
		height: 8px;
		position: absolute;
		border-radius: 50%;
		z-index: 1;
		display: block;
	}
}
.place_yell {
	border-color: rgb(232, 160, 53);
	&::after {
		background: rgb(232, 160, 53);
	}
}
.place_pink {
	border-color: rgb(189, 0, 181);
	&::after {
		background: rgb(189, 0, 181);
	}
}
.place_violet {
	border-color: rgb(15, 0, 189);
	&::after {
		background: rgb(15, 0, 189);
	}
}
.place_green {
	border-color: rgb(0, 160, 16);
	&::after {
		background: rgb(0, 160, 16);
	}
}
.place_red {
	border-color: rgb(189, 0, 0);
	&::after {
		background: rgb(189, 0, 0);
	}
}
.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}
.shape-overlays.is-opened {
	pointer-events: auto;
}
.shape-overlays__path {
	&:nth-of-type(3) {
		fill: var(--path-fill-3);
	}
	&:nth-of-type(4) {
		fill: var(--path-fill-4);
	}
}
div.search-popup-row-active {
	background: var(--clr-bg) !important;
}
div.search-popup {
	background: var(--clr-white-10);
}