.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  transition-timing-function: ease;
  padding: 26px 65px;
  background: var(--clr-black-5);
  border-radius: 73px;
  font-size: 1.375rem;
  line-height: 1.4;
  white-space: nowrap;
  flex-shrink: 0;
  color: var(--clr-black);
}

.search_link {
  cursor: pointer;
}

.btn.btn_blur {
  backdrop-filter: var(--bg-filter-blur);
}

.btn[disabled] {
  pointer-events: none;
  background: transparent;
  border: 1px solid var(--clr-black-10);
  color: var(--clr-black-10);
}

.btn_slider[disabled] svg path {
  fill: var(--clr-black-10);

}

svg .btn * {
  transition: all 0.2s;
}

svg .btn:hover rect {
  fill: var(--clr-black) !important;
}

svg .btn path {
  /* stroke: var(--clr-white) !important; */
  transition-duration: 0.2s;
}

.btn:hover {
  background: var(--clr-black);
  color: var(--clr-white);
}

.btn:not(.btn_white) svg path {
  /* fill: var(--clr-white); */
  transition-duration: 0.3s;
}

.btn:disabled {
  border: 1px solid var(--clr-black-10);
  background: rgba(0, 0, 0, 0);
  color: var(--clr-gray);
  pointer-events: none;
}

.btn:disabled svg path {
  fill: var(--clr-gray);
}

.btn_dark {
  background: var(--clr-black);
  color: var(--clr-white);
}

.btn_dark:hover {
  background: var(--clr-black-40);
}

.btn_light {
  background: var(--clr-white-20);
  color: var(--clr-white);
  backdrop-filter: var(--bg-filter-blur);
}

.btn_light:hover {
  color: var(--clr-black);
  background: var(--clr-white);
}

.btn_white {
  background: var(--clr-white) !important;
  color: var(--clr-black) !important;
}

.btn_white:hover {
  color: var(--clr-white) !important;
  background: var(--clr-black) !important;
}

.btn_white:hover svg path {
  /* fill: var(--clr-white); */
}

.btn_color {
  background: var(--clr-tag-opera);
  color: var(--clr-white);
}

.btn_color:hover {
  background: var(--clr-black);
  color: var(--clr-white);
  /* color: var(--clr-black); */
  /* background: var(--clr-tag-opera);
  opacity: 0; */
}

.stream_btn {
  font-size: 0.875rem !important;
  padding: 2px 12px 3px !important;
  border: 1px solid var(--clr-black);
  background: none !important;
}

.btn.stream_btn:hover {
  color: var(--clr-black);
  background: var(--clr-black-5) !important;
  border-color: var(--clr-black-5);
}

.head_light .stream_btn {
  font-size: 0.875rem !important;
  padding: 2px 12px 3px !important;
  border: 1px solid var(--clr-white);
  background: none !important;
  color: var(--clr-white);
}

.head_light .btn.stream_btn:hover {
  color: var(--clr-white);
  background: var(--clr-white-10) !important;
  border-color: var(--clr-white-10);
}

.stream_btn span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stream_btn span::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--clr-error);
}

.btn svg {
  transition: all 0.2s;
}

.btn svg path {
  transition: all 0.2s;
}

.swiper_prev.disabled,
.swiper_next.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn_social {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
  padding: 0 !important;
}

.btn_social:hover {
  background: var(--clr-black);
}

.btn_social:hover svg path {
  fill: var(--clr-white);
}

.btn_play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--clr-white-10);
  -webkit-backdrop-filter: blur(74.75px);
  backdrop-filter: blur(74.75px);
  flex-shrink: 0;
  padding: 0 !important;
  justify-content: center;
}

.btn_play:hover {
  background: var(--clr-black);
}

.btn_play:hover svg path {
  fill: var(--clr-white);
}

.btn_play span {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_filter,
.btn_heart {
  background: none;
  padding: 0;
  width: 85px;
  height: 85px;
  border: 1px solid var(--clr-black);
  position: relative;
  color: var(--clr-black);
}

.btn_favourite {
  background: none;
  padding: 0 !important;
  width: 64px;
  height: 64px;
  border: 1px solid var(--clr-black-10);
  position: relative;
  color: var(--clr-black);

  
}

.btn_favourite-lg {
  width: 84px;
  height: 84px;
}

.btn_favourite:hover,
.btn_favourite.active {
  background: rgba(255, 126, 128, 0.3);
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
  color: var(--clr-black);
  /* border-color: var(--clr-black-5); */
  border-color: rgba(255, 126, 128, 0.3);
}

.btn_favourite:hover svg path,
.btn_favourite.active svg path {
  fill: var(--clr-error);
  stroke: var(--clr-error);
}

.btn_filter:hover,
.btn_heart:hover {
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
  color: var(--clr-black);
  border-color: var(--clr-black-5);
  border-color: transparent;
}

.btn_filter.active,
.btn_heart.active {
  background: var(--clr-black-5);
  border-color: transparent;
  backdrop-filter: var(--bg-filter-blur);
}

.btn_filter.isDateChecked {
  background: var(--clr-black-5);
  border-color: transparent;
  backdrop-filter: var(--bg-filter-blur);
}

.btn_filter.isDateChecked::before {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--clr-black);
  border-radius: 50%;
  top: 0;
  right: 0;
}


.btn_filter:not(.btn_white):hover svg path {
  /* fill: var(--clr-black); */
}

.btn_filter svg {
  width: 24px;
  height: 24px;
}

.btn_filter_icon {
  padding: 27px 44px;
  width: auto;
  height: auto;
  gap: 20px;
}

.btn_with-icon {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  border: var(--border);
}

.btn_with-icon svg {
  width: 19px;
  flex-shrink: 0;
}

.btn_with-icon:hover {
  border-color: var(--clr-black);
}

.btn_trans {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  background: transparent;
  border: 1px solid var(--clr-light-gray);
}

.btn_trans svg {
  width: 22px;
  flex-shrink: 0;
}

.btn_trans svg path {
  fill: var(--clr-black) !important;
}

.btn_trans:hover {
  background: transparent;
  border-color: var(--clr-black-5);
  background: var(--clr-black-5);
  color: var(--clr-black);
}

.btn_slim {
  padding: 18px 48px;
  border-radius: 40px;
}

.btn_slider {
  padding: 0 !important;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  user-select: none;
}

.btn_slider svg {
  user-select: none;
}

.btn_slider:not(.btn_white):hover svg path {
  /* stroke: var(--clr-white);
  fill: none; */
}

.btn_slider .lines {
  position: relative;
  display: block;
}

.btn_slider .lines .line {
  display: block;
  width: 24px;
  height: 1px;
  background: var(--clr-black);
  transition: all 0.5s;
}

.btn_slider .lines .line:last-child {
  transform: rotate(90deg);
}

.btn_slider:hover .line {
  background: var(--clr-white);
}

.btn_slider_tab {
  background: none;
}

.btn_slider_tab:hover {
  background: var(--clr-black-5);
}

.btn_menu {
  position: relative;
  padding: 0px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.btn_menu .lines {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 16px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.btn_menu .line {
  display: block;
  position: absolute;
  height: 1px;
  background: var(--clr-black);
  transition: all 0.5s;
}

.btn_menu .line-1 {
  width: 100%;
  top: 0;
}

.btn_menu .line-2 {
  width: 60%;
  top: 50%;
}

.btn_menu .line-3 {
  width: 100%;
  bottom: 0;
}

.btn_menu:hover .line {
  background: var(--clr-white);
}

.btn_menu:hover .line-1 {
  animation-name: slideTo;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.btn_menu:hover .line-2 {
  animation-name: slideFrom;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}

.btn_menu:hover .line-3 {
  animation-name: slideTo;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
}

.btn_menu.active .line-1 {
  width: 100%;
  transform: rotate(45deg);
  top: calc(50% - 1px);
  animation-name: none;
}

.btn_popup_close:not(.btn_white) svg path {
  /* fill: var(--clr-white) */
}

.btn_popup_close:not(.btn_white) {
  background: var(--clr-white-10);
}

.btn_popup_close:not(.btn_white):hover {
  background: var(--clr-white);
}

.btn_popup_close:not(.btn_white):hover svg path {
  /* fill: var(--clr-black);
  stroke: none; */
}

.btn_menu.active .line-2 {
  opacity: 0;
}

.btn_menu.active .line-3 {
  width: 100%;
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
  animation-name: none;
}

.btn_outline {
  padding: 20px 32px;
  border: var(--border);
  border-radius: 40px;
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
}

.btn_outline:hover {
  color: var(--clr-black);
  background: var(--clr-black-5);
  border-color: var(--clr-black-5);
}

.btn_outline:hover svg path {
  /* fill: var(--clr-black); */
}

.btn_tab {
  background: none;
  padding: 26px 48px;
  color: var(--clr-white);
}

/* .halls .btn_tab {
  color: var(--clr-white) !important;
}

.halls .btn_tab.active,
.halls .btn_tab:hover {
  color: var(--clr-black) !important;
  background: var(--clr-white);
} */

.btn_tab.active {
  color: var(--clr-black);
  background: var(--clr-white);
}

.btn_tab:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}

@keyframes slideTo {
  from {
    width: 100%;
  }

  50% {
    width: 60%;
  }

  to {
    width: 100%;
  }
}

@keyframes slideFrom {
  from {
    width: 60%;
  }

  50% {
    width: 100%;
  }

  to {
    width: 60%;
  }
}

.link {
  color: var(--clr-black);
  display: flex;
  border-bottom: 1px solid var(--clr-black-10);
  transition: all var(--transition);
}

.link:hover {
  border-color: var(--clr-black);
}

.link:disabled,
.link.disabled {
  color: var(--clr-black-40);
}

.link_light {
  color: var(--clr-white-40);
  transition: all var(--transition);
}

.link_light:hover {
  color: var(--clr-white);
}

.link_light.active {
  color: var(--clr-white);
  list-style-type: disc;
}

/* li.active  {
	color: var(--clr-white);
	list-style-type: disc;
} */

label {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  position: relative;
}

input,
textarea {
  color: var(--clr-black);
}

label.label_check {
  cursor: pointer;
  flex-direction: row;
  align-items: center;
}

label.label_search {
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
  padding-right: 12px;
}

label.label_search::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--clr-gray);
  display: block;
}

label:hover input[type=text],
label:hover input[type=email],
label:hover input[type=tel],
label:hover textarea {
  border-bottom-color: var(--clr-black);
}

label:hover span.placeholder {
  color: var(--clr-black);
}

label.label_search input[type=text] {
  width: 100%;
  display: block;
  padding: 0px 0 19px;
  font-size: 1.375rem;
  line-height: 1.4;
  font-family: var(--font-accent);
  position: relative;
  border: none;
  color: var(--clr-black)
}

label.label_search .icon {
  width: 2rem;
  height: 2rem;
}

label.label_search .icon svg {
  width: 100%;
  height: 100%;
}

label.label_search input[type=text]::-webkit-search-cancel-button {
  display: none;
}

label.label_search input[type=text].error {
  color: var(--clr-error);
  border-color: rgba(239, 60, 13, 0.5);
}

label.label_search input[type=text]::-moz-placeholder {
  color: var(--clr-black-40);
  /* visibility: hidden; */
  opacity: 1;
  font-size: 1.375rem;
}

.head_light label.label_search input[type=text]::placeholder {
  color: var(--clr-white-40);
}

label.label_search input[type=text]::placeholder {
  color: var(--clr-black-40);
  /* visibility: hidden; */
  opacity: 1;
  font-size: 1.375rem;
}

label.label_search input[type=text]:focus::-moz-placeholder {
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}

label.label_search input[type=text]:focus::placeholder {
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}

label.label_search .download-link {
  font-size: 1.375rem;
  color: var(--clr-black-40);
}

label.label_search .download-link:hover .text {
  color: var(--clr-black) !important;
}

label.label_search .download-link svg path {
  fill: var(--clr-black) !important;
}

label.label_search .download-link.submit_btn svg path {
  /* stroke: var(--clr-black) !important;
  fill: none !important; */
}

label:hover span.radio {
  border: 1px solid var(--clr-black);
}

label input[type=radio] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

label input[type=radio] span.radio {
  position: relative;
}

label input[type=radio]:checked+span.radio {
  background: var(--clr-black);
  border: 4px solid var(--clr-black);
  border-radius: 50%;
}

label input[type=radio]:checked+span.radio svg {
  visibility: visible;
  opacity: 1;
}

label input[type=radio]:checked+span.radio::before {
  opacity: 1;
}

label input[type=file] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

label .button {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 1.375rem;
  line-height: 1.4;
  color: var(--clr-black-40);
  transition: all 0.5s;
  cursor: pointer;
}

label input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

label input[type=checkbox]:checked+span.checkbox {
  background: var(--clr-black);
  border-color: var(--clr-black);
}

label input[type=checkbox]:checked+span.checkbox svg {
  visibility: visible;
  opacity: 1;
}

label span.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--clr-black-5);
  background: var(--clr-black-5);
  transition: all 0.2s;
  flex-shrink: 0;
}

label span.checkbox svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

label:hover span.checkbox {
  border-color: var(--clr-black);
}

label:hover .button {
  color: var(--clr-black);
}

label:hover .button .btn {
  background: var(--clr-black);
}

label:hover .button .btn svg path {
  fill: var(--clr-white);
}

label.disabled {
  color: var(--clr-gray);
}

label span.error {
  font-size: 0.75rem;
}

label input[type=text],
label input[type=email],
label input[type=tel],
label textarea {
  width: 100%;
  display: block;
  padding: 8px 0 22px;
  border-bottom: 1px solid var(--clr-gray);
  font-size: 1.375rem;
  line-height: 1.4;
  font-family: var(--font-accent);
  position: relative;
}

label input[type=text]::after,
label input[type=email]::after,
label input[type=tel]::after,
label textarea::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  /* background: var(--clr-gray); */
  display: block;
}

label input[type=text].error,
label input[type=email].error,
label input[type=tel].error {
  color: var(--clr-error);
  border-color: rgba(239, 60, 13, 0.5);
}

label input[type=text]::-moz-placeholder,
label input[type=email]::-moz-placeholder,
label input[type=tel]::-moz-placeholder,
label textarea::-moz-placeholder {
  color: var(--clr-black-40);
  visibility: hidden;
  opacity: 0;
  font-size: 1.375rem;
}

label input[type=text]::placeholder,
label input[type=email]::placeholder,
label input[type=tel]::placeholder,
label textarea::placeholder {
  color: var(--clr-black-40);
  /* visibility: hidden; */
  opacity: 0;
  font-size: 1.375rem;
}

label input[type=text]:focus::-moz-placeholder,
label input[type=email]:focus::-moz-placeholder,
label input[type=tel]:focus::-moz-placeholder,
label textarea:focus::-moz-placeholder {
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  visibility: h;
  /* opacity: 1; */
}

label input[type=text]:focus::placeholder,
label input[type=email]:focus::placeholder,
label input[type=tel]:focus::placeholder,
label textarea:focus::placeholder {
  transition: all 0.5s;
  visibility: visible;
  /* opacity: 1; */
}

label span.placeholder {
  position: absolute;
  color: var(--clr-gray);
  transition: all 0.3s;
  font-size: 1.375rem;
  line-height: 1.4;
  transition: all 0.5s;
  bottom: 22px;
  top: auto;
  pointer-events: none;
}

label span.placeholder.active {
  font-size: 1.125rem;
  top: 0;
  bottom: auto;
}

label textarea+span.placeholder {
  top: 30px;
  bottom: auto;
}

label textarea+span.placeholder.active {
  top: 0px;
  bottom: auto;
}

label input:not(:placeholder-shown)+span.placeholder {
  font-size: 1.125rem;
  top: 0;
  bottom: auto;
}

label span.error,
.feedback__form_field span.error {
  position: absolute;
  top: 100%;
  font-size: 0.875rem;
  color: rgba(239, 60, 13, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

label span.error.show {
  opacity: 1;
  visibility: visible;
}

label.label_text:hover {
  color: var(--clr-black);
}

label.label_text:hover input {
  border-color: var(--clr-black);
}

label.label_text:hover input::-moz-placeholder {
  color: transparent;
}

label.label_text:hover input::placeholder {
  color: transparent;
}

label.label_text:hover input:focus::-moz-placeholder {
  color: var(--clr-gray);
}

label.label_text:hover input:focus::placeholder {
  color: var(--clr-gray);
}

label span.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--clr-black-5);
  background: var(--clr-black-5);
  transition: all 0.2s;
  flex-shrink: 0;
}

label span.radio svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

#smartFilterDropDown2 {
  display: none !important;
}

label span.radio::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-white);
  opacity: 0;
}

label.label_radio {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  /* max-width: 1792px; */
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

.copy_buffer {
  position: relative;
}

.copy_buffer .hint {
  display: block;
  font-size: 0.875rem;
  background: var(--clr-white);
  border: 1px solid var(--clr-black-40);
  border-radius: 1rem;
  padding: .5rem 0.875rem;
  bottom: 90%;
  position: absolute;
  color: var(--clr-black) !important;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.copy_buffer .hint.show {
  visibility: visible;
  opacity: 1;
}

.copy_buffer:hover .hint {
  color: var(--clr-black);
}

.section {
  /* padding: 0 2rem; */
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.section_pt_sm {
  padding-top: 2rem !important;
}

.section_pt_md {
  padding-top: 3.5rem !important;
}

.section_pt_l {
  padding-top: 4.5rem !important;
}

.section_pt_xl {
  padding-top: 10rem !important;
}

.section_pb_l {
  padding-bottom: 10rem !important;
}

.section_pb_md {
  padding-bottom: 7.5rem !important;
}

.section_pb_sm {
  padding-bottom: 4rem !important;
}

.section_pb_xs {
  padding-bottom: 1.625rem !important;
}

.section_pt_0 {
  padding-top: 0 !important;
}

.section_pb_0 {
  padding-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-2 {
  margin-bottom: 2.75rem !important;
}

.mt-2 {
  margin-top: 2.75rem !important;
}

.mt-3 {
  margin-top: 5.75rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.row {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  width: 4.1666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.partners__slide_desc {
  color: var(--clr-black-40);
  line-height: 1.6;
}

.opera {
  color: var(--clr-tag-opera);
}

.opera:hover {
  color: var(--clr-tag-opera-opacity);
}

.lecture {
  color: var(--clr-tag-lectures);
}

.lecture:hover {
  color: var(--clr-tag-lectures-opacity);
}

.nav-link {
  font-size: 1.375rem;
  transition: all 0.3s;
  font-family: var(--font-accent);
  line-height: 1.4;
  white-space: nowrap;
  transition: all 0.3s;
  transition-delay: 0s;
}

.nav-link:hover {
  color: var(--clr-black-40);
}

.nav-link:hover .icon svg path {
  fill: var(--clr-black-40);
}

.nav-link .icon svg {
  transition: all 0.3s;
}

.nav-link .icon svg path {
  transition: all 0.3s;
}

.menu-link {
  line-height: 0.5;
  transition: all 0.5s;
}

.menu-link:hover {
  color: var(--clr-black-40);
}

.download-link {
  display: flex;
  align-items: center;
  gap: 24px;
}

.download-link .text {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.download-link .icon {
  transition: all 0.3s;
}

.download-link:hover .btn {
  background: var(--clr-black);
  color: var(--clr-white);
}

.download-link:hover .btn svg path {
  /* stroke: var(--clr-white);
  fill: none; */
}

.download-link:hover .icon {
  opacity: 0.4;
}

.download-link:hover .text {
  color: var(--clr-black-40);
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--clr-info);
}

.info .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--clr-info);
  margin: 0;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--clr-error);
}

.error .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--clr-error);
}

.dropdown {
  /* position: relative; */
  z-index: 2;
  width: 100%;
  border-radius: 50px;
  /* padding: 20px; */
  /* background: var(--clr-black-5); */
  /* -webkit-backdrop-filter: var(--bg-filter-blur);
	backdrop-filter: var(--bg-filter-blur); */
  /* position: relative; */
  cursor: pointer;
}

select {
  /* position: relative; */
  z-index: 2;
  width: 100%;
  border-radius: 50px;
  padding: 20px;
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
  /* position: relative; */
  cursor: pointer;
}

.dropdown__value {
  width: 100%;
  display: flex;
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
  overflow: hidden;
  border-radius: 50px;
}

.dropdown__value .value {
  width: 100%;
}

.filter__form .dropdown__value .value {
  width: auto;
}

.dropdown__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s;
  left: 50%;
  top: calc(100% + 10px);
  border-radius: 24px;
  padding: 20px 8px;
  background: var(--clr-white);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

}

.dropdown__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dropdown__items::-webkit-scrollbar {
  width: 4px;
  background: var(--clr-white);
  border-radius: 4px;
}

.dropdown__items::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--clr-black);
}

.suggest__list {
  border-radius: 24px;
  padding: 24px 32px;
  background: var(--clr-white);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.suggest__list .suggest__list_title {
  margin-bottom: 16px;
  padding: 0 4px;
}

div.search-popup-row {
  color: var(--clr-black);
}

div.search-popup-row:hover {
  color: var(--clr-black-40);
}

.suggest__list .suggest_result {
  margin-top: 16px;
  padding: 16px 48px;
}

.dropdown.active {
  position: relative;
  z-index: 5;
}

.dropdown .dropdown__value svg {
  transition: all 0.5s;
}

.dropdown .dropdown__value svg path {
  fill: var(--clr-black);
}

.halls .dropdown .dropdown__value svg path {
  fill: #ffffff;
}

.dropdown.active .dropdown__value svg {
  transform: rotateX(180deg);
}

.dropdown.active .dropdown__list {
  visibility: visible;
  opacity: 1;
  /* transform: translateX(-50%) translateY(0px);
  max-height: 220px;
  overflow: auto;
  z-index: 10; */
}

.dropdown__item {
  line-height: 1.4;
  color: var(--clr-black-40);
  transition: all 0.5s;
  cursor: pointer;
  padding: 0 16px;
}

.dropdown__item:hover {
  color: var(--clr-black);
}

.dropdown__item.active {
  color: var(--clr-black);
}

.dropdown-slider__value {
  display: none;
}

.dropdown-slider__list {
  transform: translate(0);
  transition: all 0.5s;
}

.dropdown-slider__tabs {
  display: flex;
  width: 100%;
  position: static;
  border: 1px solid var(--clr-black);
  border-radius: 53px;
  -webkit-backdrop-filter: var(--bg-filter-blur);
  backdrop-filter: var(--bg-filter-blur);
}

.dropdown_dark .dropdown-slider__tabs {
  background: var(--clr-white) !important;
}

.dropdown-slider .btn_tab {
  color: var(--clr-black);
}

.dropdown-slider .btn_tab.active {
  background: var(--clr-black-5);
}

.dropdown-slider.dropdown_dark .btn_tab.active {
  background: var(--clr-black) !important;
  color: var(--clr-white) !important;
}

.dropdown-slider .btn_tab:hover {
  background: var(--clr-black-5);
  /* color: var(--clr-white); */
}

.dropdown-slider.dropdown_dark .btn_tab:hover {
  background: var(--clr-black) !important;
}

.dropdown-slider .before {
  position: absolute;
  background: var(--clr-black-5);
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 73px;
  transition: left 0.5s;
}

.dropdown-slider.dropdown_dark .before {
  background: var(--clr-black) !important;

}

.dropdown-slider.active .dropdown-slider__tabs {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  max-height: 220px;
  overflow: auto;
  z-index: 10;
}

.dropdown.active .dropdown-slider__tabs {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  max-height: 220px;
  overflow: auto;
  z-index: 10;
}

.max991 {
  display: none !important;
}

.max360 {
  display: none !important;
}

.max576 {
  display: none !important;
}

.min576 {
  display: flex !important;
}

.hidden {
  overflow: hidden;
}

.tag {
  display: flex;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 18px;
  line-height: 1.2;
  white-space: nowrap;
}

.tag_festival {
  border: 1px solid var(--clr-tag-festival);
  color: var(--clr-tag-festival);
  transition: all 0.5s;
}

.tag_festival:hover {
  background: var(--clr-tag-festival-opacity);
  color: var(--clr-tag-festival);
}

.tag_lectures {
  border: 1px solid var(--clr-tag-lectures);
  color: var(--clr-tag-lectures);
  transition: all 0.5s;
}

.tag_lectures:hover {
  background: var(--clr-tag-lectures-opacity);
  color: var(--clr-tag-lectures);
}

.tag_children {
  border: 1px solid var(--clr-tag-children);
  color: var(--clr-tag-children);
  transition: all 0.5s;
}

.tag_children:hover {
  background: var(--clr-tag-children-opacity);
  color: var(--clr-tag-children);
}

.tag_theaters {
  border: 1px solid var(--clr-tag-theaters);
  color: var(--clr-tag-theaters);
  transition: all 0.5s;
}

.tag_theaters:hover {
  background: var(--clr-tag-theaters-opacity);
  color: var(--clr-tag-theaters);
}

.tag_opera {
  border: 1px solid var(--clr-tag-opera);
  color: var(--clr-tag-opera);
  transition: all 0.5s;
}

.tag_opera:hover,
.tag_opera.active {
  background: var(--clr-tag-opera-opacity);
  color: var(--clr-tag-opera);
  /*  border-color: var(--clr-tag-opera-opacity); */
}

.tag_card {
  border: 1px solid var(--clr-black-40);
  color: var(--clr-black-40);
  transition: all 0.5s;
}

.tag_card:hover {
  color: var(--clr-black);
  border-color: var(--clr-black);
}

.title_link {
  border-bottom: none;
  transition: all .5s;
}

.title_link:hover {
  color: var(--clr-black-40)
}

.time {
  font-size: 2rem;
  line-height: 1.4;
}

.swiper-nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.place {
  width: 12px;
  height: 12px;
  display: flex;
  border: 1px solid;
  border-radius: 50%;
  background: var(--clr-white);
  position: relative;
  align-items: center;
  justify-content: center;
}

.place::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  /* top: 50%; */
  /* left: 50%; */
  display: block;
  /* transform: translate(-50%, -50%); */
}

.place_yell {
  border-color: rgb(232, 160, 53);
}

.place_yell::after {
  background: rgb(232, 160, 53);
}

.place_pink {
  border-color: rgb(189, 0, 181);
}

.place_pink::after {
  background: rgb(189, 0, 181);
}

.place_violet {
  border-color: rgb(15, 0, 189);
}

.place_violet::after {
  background: rgb(15, 0, 189);
}

.place_green {
  border-color: rgb(0, 160, 16);
}

.place_green::after {
  background: rgb(0, 160, 16);
}

.place_red {
  border-color: rgb(189, 0, 0);
}

.place_red::after {
  background: rgb(189, 0, 0);
}


/* *********************************************************** */

/* *,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #000;
}

body {
	font-family: 'Source Sans Pro', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);	
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/* Color schemes */
.demo-1 {
  --color-text: #fff;
  --color-bg: #ddd;
  --color-link: #fff;
  --color-link-hover: #2735da;
  --color-info: #fff;
  --color-main-bg: #171619;
  --path-fill-1: #413f46;
  --path-fill-2: #e6e5ea;
  --path-fill-3: #cccccc;
  --color-title: #fff;
  --font-family-title: 'Montserrat', sans-serif;
  --font-size-title: 7vmax;
  --font-weight-title: 700;
  --color-menu: #171616;
  --color-menu-hover: #ffffff;
  --font-family-menu: 'Montserrat', sans-serif;
  --font-size-menu: 3vmax;
  --font-weight-menu: 700;
  --button-bg: #fff;
  --button-circle: #6b6b6b;
  --button-line: #222;
}

.demo-2 {
  --color-text: #fff;
  --color-bg: #333;
  --color-link: #fff;
  --color-link-hover: #f44e5e;
  --color-info: #fff;
  --color-main-bg: #efcb7b;
  --path-fill-1: #dce3f1;
  --path-fill-2: #869ccc;
  --path-fill-3: #30436f;
  --path-fill-4: #0d1831;
  --color-title: #fff;
  --font-family-title: inherit;
  --font-size-title: 6vmax;
  --font-weight-title: 200;
  --color-menu: #fff;
  --color-menu-hover: #fff;
  --font-family-menu: inherit;
  --font-size-menu: 4vmax;
  --font-weight-menu: 200;
  --button-bg: #fff;
  --button-circle: #fff;
  --button-line: #222;
}

.demo-3 {
  --color-text: #fbd54a;
  --color-bg: #333;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --color-info: #fff;
  --color-main-bg: #24262d;
  --path-fill-1: #000000;
  --path-fill-2: #1d1d1f;
  --path-fill-3: #fbd54a;
  --color-title: #fff;
  --font-family-title: 'Arapey', serif;
  --font-size-title: 5vmax;
  --font-weight-title: 400;
  --color-menu: #000000;
  --color-menu-hover: #fff;
  --font-family-menu: 'Arapey', serif;
  --font-size-menu: 4vmax;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #ada4a4;
  --button-line: #222;
}

.demo-4 {
  --color-text: #fff;
  --color-bg: #333;
  --color-link: #1b198c;
  --color-link-hover: #d3eaa2;
  --color-info: #fff;
  --color-main-bg: #3735d0;
  --path-fill-1: #241e84;
  --path-fill-2: #d3eaa2;
  --color-title: #fff;
  --font-family-title: 'Pompiere', serif;
  --font-size-title: 6vmax;
  --font-weight-title: 300;
  --color-menu: #3735d0;
  --color-menu-hover: #b2dc53;
  --font-family-menu: var(--font-family-title);
  --font-size-menu: 4vmax;
  --font-weight-menu: 300;
  --button-bg: #b3dc53;
  --button-circle: #1b198b;
  --button-line: #fff;
}

.demo-5 {
  --color-text: #c04444;
  --color-bg: #333;
  --color-link: #2d2c2b;
  --color-link-hover: #c14343;
  --color-info: #fff;
  --color-main-bg: #ece7de;
  --path-fill-1: #c04444;
  --path-fill-2: #1b1a19;
  --color-title: inherit;
  --font-family-title: 'Playfair Display', serif;
  --font-size-title: 6vmax;
  --font-weight-title: 700;
  --color-menu: #ffffff;
  --color-menu-hover: #c14343;
  --font-family-menu: var(--font-family-title);
  --font-size-menu: 3.5vmax;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #c14343;
  --button-line: #2d2c2b;
}

.demo-6 {
  --color-text: #120047;
  --color-bg: #333;
  --color-link: #110046;
  --color-link-hover: #e83779;
  --color-info: #fff;
  --color-main-bg: #7115d8;
  --path-fill-1: url(#gradient1);
  --path-fill-2: url(#gradient2);
  --path-fill-3: url(#gradient3);
  --color-title: inherit;
  --font-family-title: 'Rozha One', serif;
  --font-size-title: 8vmax;
  --font-weight-title: 400;
  --color-menu: #ffffff;
  --color-menu-hover: #c14343;
  --font-family-menu: var(--font-family-title);
  --font-size-menu: 3.5vmax;
  --font-weight-menu: 400;
  --button-bg: #120047;
  --button-circle: #9236f7;
  --button-line: #ffffff;
}

/* Fade effect */
.js body {
  opacity: 0;
  transition: opacity 0.3s;
}

.js body.render {
  opacity: 1;
}





/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.icon--keyboard {
  display: none;
}



.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  pointer-events: none;
}

.content--fixed {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  align-content: space-between;
  width: 100%;
  max-width: none;
  min-height: 0;
  height: 100vh;
  padding: 1.5em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas: 'header ...'
    '... ...'
    'github demos';
}

.content--fixed a {
  pointer-events: auto;
}

/* Header */
.codrops-header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  align-self: start;
  grid-area: header;
  justify-self: start;
}

.codrops-header__title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0.75em 0;
}

/* .info {
  margin: 0 0 0 1.25em;
  font-style: italic;
  color: var(--color-info);
  font-weight: bold;
} */

.github {
  display: block;
  align-self: end;
  grid-area: github;
  justify-self: start;
  margin: 0.5em;
}

.demos {
  position: relative;
  display: block;
  align-self: end;
  text-align: center;
  grid-area: demos;
  margin-bottom: 0.5em;
}

.demo {
  margin: 0 0.15em;
}

.demo:hover,
.demo:focus {
  opacity: 0.5;
}

.demo span {
  white-space: nowrap;
  text-transform: lowercase;
  pointer-events: none;
}

.demo span::before {
  content: '#';
}

a.demo--current {
  pointer-events: none;
}

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 1em 0 0;
  text-align: center;
  white-space: nowrap;
}

.codrops-icon {
  display: inline-block;
  margin: 0.15em;
  padding: 0.25em;
}

.demo-title {
  color: var(--color-title);
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.global-menu {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.demo-5 .global-menu {
  text-align: center;
}

.global-menu__item {
  color: var(--color-menu);
  font-family: var(--font-family-menu);
  font-size: var(--font-size-menu);
  font-weight: var(--font-weight-menu);
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  display: block;
  margin: 0.25em 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-in;
}

.global-menu__item--demo-2:nth-child(odd) {
  transform: translateY(-100%) rotate(10deg);
}

.global-menu__item--demo-2:nth-child(even) {
  transform: translateY(-100%) rotate(-10deg);
}

.global-menu__item--demo-3 {
  transition: transform 0.1s, opacity 0.1s;
  transform: translateY(100%);
  transition-timing-function: ease-out;
}

.global-menu__item--demo-4,
.global-menu__item--demo-5 {
  transition: transform 0.1s, opacity 0.1s;
  transition-timing-function: ease-out;
}

.global-menu__item--demo-4 {
  transform: translateX(40%);
}

.global-menu__item--demo-5:nth-child(odd) {
  transform: translateX(100%) rotate(10deg) scale(0.5);
}

.global-menu__item--demo-5:nth-child(even) {
  transform: translateX(100%) rotate(-10deg) scale(0.5);
}

.global-menu__item--demo-6 {
  transform: translateY(100%);
}

.global-menu__item:hover {
  color: var(--color-menu-hover);
}

.global-menu__item.is-opened {
  opacity: 1;
  transform: translateY(0) rotate(0);
  pointer-events: auto;
  transition-timing-function: ease;
}

.global-menu__item--demo-4.is-opened,
.global-menu__item--demo-5.is-opened {
  transform: translateX(0) rotate(0);
}

.global-menu__item--demo-4.is-opened {
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.355, 1.400);
}

.global-menu__item:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
  transition-delay: 0.85s;
}

.global-menu__item:nth-of-type(2) {
  transition-delay: 0.05s;
}

.global-menu__item.is-opened:nth-of-type(2) {
  transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(3) {
  transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
  transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
  transition-delay: 0.7s;
}

/* demo 2 */
.global-menu__item--demo-2:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(1) {
  transition-delay: 0.85s;
}

.global-menu__item--demo-2:nth-of-type(2) {
  transition-delay: 0.05s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(2) {
  transition-delay: 0.8s;
}

.global-menu__item--demo-2:nth-of-type(3) {
  transition-delay: 0.1s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}

.global-menu__item--demo-2:nth-of-type(4) {
  transition-delay: 0.15s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(4) {
  transition-delay: 0.7s;
}

/* demo 3 */
.global-menu__item--demo-3.is-opened {
  transition-duration: 0.3s;
}

.global-menu__item--demo-3:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(1) {
  transition-delay: 0.65s;
}

.global-menu__item--demo-3:nth-of-type(2) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
  transition-delay: 0.7s;
}

.global-menu__item--demo-3:nth-of-type(3) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}

.global-menu__item--demo-3:nth-of-type(4) {
  transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
  transition-delay: 0.8s;
}

/* demo 4 */
.global-menu__item--demo-4.is-opened {
  transition-duration: 0.6s;
}

.global-menu__item--demo-4:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(1) {
  transition-delay: 0.45s;
}

.global-menu__item--demo-4:nth-of-type(2) {
  transition-delay: 0.05s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(2) {
  transition-delay: 0.5s;
}

.global-menu__item--demo-4:nth-of-type(3) {
  transition-delay: 0.1s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(3) {
  transition-delay: 0.55s;
}

.global-menu__item--demo-4:nth-of-type(4) {
  transition-delay: 0.15s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(4) {
  transition-delay: 0.6s;
}

/* demo 5 */
.global-menu__item--demo-5.is-opened {
  transition-duration: 0.4s;
}

.global-menu__item--demo-5:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(1) {
  transition-delay: 0.55s;
}

.global-menu__item--demo-5:nth-of-type(2) {
  transition-delay: 0.05s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(2) {
  transition-delay: 0.6s;
}

.global-menu__item--demo-5:nth-of-type(3) {
  transition-delay: 0.1s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(3) {
  transition-delay: 0.65s;
}

.global-menu__item--demo-5:nth-of-type(4) {
  transition-delay: 0.15s;
}

.global-menu__item--demo-5.is-opened:nth-of-type(4) {
  transition-delay: 0.7s;
}

/* demo 6 */
.global-menu__item--demo-6.is-opened {
  transition-duration: 0.8s;
}

.global-menu__item--demo-6:nth-of-type(1) {
  transition-delay: 0.25s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(1) {
  transition-delay: 1s;
}

.global-menu__item--demo-6:nth-of-type(2) {
  transition-delay: 0.2s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(2) {
  transition-delay: 1.1s;
}

.global-menu__item--demo-6:nth-of-type(3) {
  transition-delay: 0.15s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(3) {
  transition-delay: 1.2s;
}

.global-menu__item--demo-6:nth-of-type(4) {
  transition-delay: 0.1s;
}

.global-menu__item--demo-6.is-opened:nth-of-type(4) {
  transition-delay: 1.3s;
}

.shape-overlays {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.shape-overlays.is-opened {
  pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
  /* fill: var(--path-fill-1); */
}

.shape-overlays__path:nth-of-type(2) {
  /* fill: var(--path-fill-2); */
}

.shape-overlays__path:nth-of-type(3) {
  fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
  fill: var(--path-fill-4);
}

@-webkit-keyframes intervalHamburgerBorder {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@keyframes intervalHamburgerBorder {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

.hamburger {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 2.25em;
  right: 2.25em;
  z-index: 110;
  border-radius: 50%;
  background-color: var(--button-bg);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hamburger::after {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 4px solid var(--button-circle);
  border-radius: 50%;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: intervalHamburgerBorder;
  animation-name: intervalHamburgerBorder;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hamburger__line {
  width: 28px;
  height: 2px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.hamburger__line-in {
  width: 84px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.hamburger__line-in::before,
.hamburger__line-in::after {
  width: 28px;
  height: 2px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-color: var(--button-line);
}

.hamburger__line-in::before {
  left: -56px;
}

.hamburger__line-in::after {
  left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
  left: 18px;
}

.hamburger__line--01 {
  top: 24.6px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
  top: 31px;
}

.hamburger__line--03 {
  top: 37.4px;
}

.hamburger__line--cross01 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger__line--cross02 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger__line {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
  -webkit-transform: translateX(-33.3%);
  transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hamburger__line-in--02 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hamburger__line-in--03 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
  -webkit-transition-delay: 0.0s;
  transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
  -webkit-transform: translateX(33.3%);
  transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

div.search-popup-row,
div.search-popup-row-active {
  background: var(--clr-bg) !important;
}

div.search-popup {
  background: var(--clr-white-10);
}

@media screen and (min-width: 55em) {
  .icon--keyboard {
    position: absolute;
    right: 0.55em;
    bottom: -30%;
    display: block;
    width: 54px;
    height: 46px;
    fill: var(--color-link);
  }

  .demos {
    display: flex;
    padding-right: 80px;
    justify-self: end;
  }

  .demo {
    display: block;
    width: 17px;
    height: 17px;
    margin: 0 4px;
    border-radius: 50%;
    background: var(--color-link);
  }

  a.demo--current {
    background: var(--color-link-hover);
  }

  .demo span {
    position: absolute;
    line-height: 1;
    right: 100%;
    display: none;
    margin: 0 1em 0 0;
  }

  .demo--current span {
    display: block;
  }
}

@media screen and (max-width: 55em) {

  /* html,
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
  } */

  .hamburger {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    transform: scale(0.75);
  }

  .content {
    height: auto;
    min-height: 0;
    padding-bottom: 10em;
    flex-direction: column;
  }

  .content--fixed {
    position: relative;
    z-index: 0;
    display: block;
    padding: 0.85em;
  }

  .codrops-header {
    flex-direction: column;
    align-items: center;
  }

  .codrops-header__title {
    font-weight: bold;
    padding-bottom: 0.25em;
    text-align: center;
  }

  .github {
    display: block;
    margin: 1em auto;
  }

  .codrops-links {
    margin: 0;
  }
}